body {
  background: url('./assets/burger-friends.jpg');
  background-size: cover;
  margin: 0px;
}

nav {
  font-family: 'Roboto', sans-serif;
  background-color: #0fb9b1;
  padding: 25px;
  font-size: 25px;
  margin: 0px;
  display: flex;
  justify-content: space-between ;
}

button {
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(225, 225, 225, .9);
  border: none;
  font-size: 15px;
}

 #letsCook {
  border-radius: 5px;
  padding: 10px;
  background-color: #0fb9b1;
  width: 200px;
  border: none;
}

box:nth-child(1) {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  background-color: rgba(225, 225, 225, .9);
  height: 450px;
  width: 555px;
  padding: 25px;
  opacity: 1;
  display: flex;
  justify-content: left;
  text-justify: left;
  flex-direction: column;
}

div {
  font-size: 25px;
  padding: 15px;
}

box:nth-child(2) {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  background-color: rgba(225, 225, 225, .9);
  height: 400px;
  width: 505px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

section {
  height: 600px;
  display: flex;
  flex-direction: center;
  justify-content: space-around;
  margin: 50px;
}

img {
  height: 150px;
  width: 150px;
}

p1 {
  color: ee5253;
}

p2 {
  font-style: italic;
  font-size: 25px;
  padding: 20px;
}

p3 {
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

.clear {
  border-radius: 5px;
  padding: 5px;
  background-color: #95a5a6;
  border: none;
  font-size: 15px;
  width: 65px;
  height: 35px;
  color: white;

}

box:nth-child(3) {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
}

buttonSection {
  height: 175px;
  width: 475px;
  display: flex;
  flex-direction: flex-end;
  justify-content: flex-end;
  align-items: flex-end;
}
